grant codebase "file:${java.home}/../lib/tools.jar" {
    permission java.security.AllPermission;
};
grant codebase "file:$(pwd)/distod.jar" {
    permission java.security.AllPermission;
};
