<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>distod.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS} %-5level] %40.40X{akkaSource:-local}| %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
